{% extends 'base.html.twig' %}

{% block title %} ADD QUESTION {% endblock %}



{% block body %}

<p>ADD Question</p>

{# <form>
<input type="text" placeholder="Entrez votre question"></input>
<button>Valider</button>
</form> #}

{{ form(form) }}

{% endblock %}
