{% extends 'base.html.twig' %}

{% block title %} ADD ANNOUNCE {% endblock %}



{% block body %}
<div class="m-4 w-full">
    <p class="text-xl mb-6 text-black"> Ajouter une annonce</p>
    {{ form(form) }}
</div>

{% endblock %}
